section.contacts {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;

    >header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
    }

    >main {
        position: absolute;
        z-index: 0;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0px;
        background-color: #37474F;
        overflow-y: hidden;
    }
}
