.my.my-app {

    .my.my-body {
        position: absolute;
        bottom: 55px;
        top: 0px;
        left: 0px;
        right: 0pc;
    }

    .my.my-footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 56px;
    }
}
